<main class="main-pergunta">
    <section class="pergunta">
        <h1>Pergunta</h1>
        <p class="pergunta-texto">
            <%= question.description %>
        </p>
        <form class="pergunta-respostas" id="pergunta-form">
            <input type="hidden" name="question_id" value="<%- question.id %>">
            <% for (let i=0; i < question.alternatives.length; i++) {%>
                <label for="in<%- question.alternatives[i].id %>" class="resposta-item"
                    id="res<%- question.alternatives[i].id %>">
                    <input type="radio" name="alternative_id" value="<%- question.alternatives[i].id %>"
                        id="in<%- question.alternatives[i].id %>" required>
                    <%= question.alternatives[i].description %>
                </label>
                <% } %>
                    <button type="submit" class="main-button" id="answer-button">Responder</button>
        </form>
        <a href="/pergunta" id="next-question-button" class="invisible main-button">Próxima questão</a>
    </section>
    <%- include('../partials/status') %>
    <script src="scripts/question_form_validator.js"></script>
</main>